@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Inter:wght@500;700&display=swap');

* {
  font-family: 'Inter Tight', sans-serif;
}

.root,
#root,
#docs-root {
  --text-b: #060F1C;
  --dark-b: #3F52E4;
  --light-b: #E3EDFD;
  --grey-t: #838598;
  --white: #FFFFFF;
}
