@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Inter:wght@500;700&display=swap");

* {
  font-family: "Inter Tight", sans-serif;
}

.root,
#root,
#docs-root {
  --text-b: #060f1c;
  --dark-b: #3f52e4;
  --light-b: #e3edfd;
  --grey-t: #838598;
  --white: #ffffff;
}

abbr {
  text-decoration: none;
  border-bottom: 0;
}

.select-none {
  user-select: none;
}

.dropping-menu {
  max-height: 50vh;
}

.spec-w {
  width: 22.6rem;
}

.column-ww {
  max-width: 270px;
}
